.Model{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: Montserrat;

}

.order{
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    font-family: Montserrat;

}