.header{
    display: flex;
    
    flex-direction: row;
    height: 55px;

    justify-content: space-between;
     
}
.firstSection{
    width: 150px;
    background-color: bisque;

}

.secondSection{
    flex: 1;
    /*So that, when we change the size this middle part gets changed
    without affecting the width of other 2 parts*/
    background-color: lightpink;

    margin-left: 70px;
    margin-right: 40px;

    max-width: 600px;
   

}

.thirdSection{
    width: 250px;
    background-color: aquamarine;

}