.header{
    display: flex;
    
    flex-direction: row;
    height: 65px;

    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
     
}


.secondSection{
    flex: 1;
    /*So that, when we change the size this middle part gets changed
    without affecting the width of other 2 parts*/
    background-color: lightpink;

    margin-left: 70px;
    margin-right: 40px;

    max-width: 600px;
   

}

.thirdSection{
    width: 350px;
    background-color: aquamarine;

}

.InnerFlex{
    display: flex;
    justify-content: end;
    padding: 10px;
}

.upload{
    width: 35px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}

 

.firstSection{
   /* width: 250px; by removing width it stretch to 
   contain the both menu and logo*/
    background-color: bisque;

    display: flex;
    align-items: center;

}

.menu{
    width: 35px;
    margin-left: 20px;

    margin-right: 20px;
     
}

.logo{
   /* width:120px ;*/
   height: 25px;
     
}