.cat1{
    width:200px;
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(181, 179, 179);

    display: inline-block;
    margin: 15px;
    
}

.firstimage{
    width:200px
}
.text{
    margin-left: 10px;
    margin-bottom: 10px;
}
.firstname{
    font-weight:bolder ;
    margin-bottom: 10px;

    font-family: Arial;
    

}
.firstNumber{
    margin-top: 0;
    margin-bottom: 10px;
    color: gray;
    font-weight: bold;
     
}

    
.firstbutton{
    background-color: rgb(52, 107, 203);
    color: white;
    border:none;
    border-radius: 7px;

    padding: 8px;
    width:120px;

    cursor:pointer;
}
.firstbutton:hover{
    background-color: green;
}
