.one{
    display: flex;
    margin-bottom: 20px;

}
.first{
    width: 200px;
    background-color: aqua;
}
.second{
    background-color: lightpink;
    width: 75px;
}

.two{
    display: flex;
    margin-bottom: 10px;
}
.item1{
    background-color: aqua;
    width: 50px;
}
.item2{
    background-color: lightpink;
    flex: 1;
}
.item3{
    background-color: aqua;
    width: 75px;
}

.three{
    display: flex;

    justify-content:space-between
}
.itemOne{
    background-color: aqua;
    width: 75px;

}
.itemTwo{
    background-color: aqua;
    width: 75px;

}
.itemThree{
    background-color: aqua;
    width: 75px;

}
.itemFour{
    background-color: aqua;
    width: 75px;

}

.four{
    height: 50px;
    display: flex;
    border: solid 3px rgb(126, 126, 126);

    justify-content: space-between;
 

}
.itemOne1,
.itemTwo2{
    height: 20px;
    background-color: lightpink;
    margin-top: 15px;

}
 


.newFlex{
    display: flex;
   /* justify-content: space-between;*/
}  

.Number1{
    background-color: lightblue;
    flex: 1;


}
.Number2{
    background-color: lightpink;
    flex: 1;


}

.SearchBox{
    margin: 10px;
    width:80%;

}
.Number3{
    background-color: lightblue;
    flex: 1;

   



}

.innernewFlex{
    display: flex;
    flex-direction: row;
    padding: 3px;
    border:solid 3px black;
    margin: 10px;

   /* min-width: 200px;*/
}
 